pandas
tqdm
jupyter
matplotlib
scikit-learn
seaborn
scikit-surprise
tensorflow
torch
optuna
mlflow
graphviz
pydot
pydot-ng
pillow==9.5.0
nltk
tokenizers
transformers
gensim
spacy
datasets
transformers[torch]
accelerate
torch-geometric