/* CSS-БЛОКИ */


/* Малюнок */
.pos2 {
    width: 350px;
    height: 260px;
}

img {
    width: 100%;
    height: 100%;
}

/* Колір фону сторінки */
html,
body {
    background: url("/static/images/0.jpg") center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 1;
    padding: 1;
}

/* Шрифт */
h2 {
    font-family: "League Gothic";
    font-size: 300%;
    color: rgb(224, 248, 2);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}